body {
  margin: 0;
  background-color: #FFC42F;
}

.landing-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #0C64BE;
    padding: 0.5rem;

}

.landing-header img {
    max-width: 20px;
    height: auto;
}

.landing-header a {
    font-family: "Roboto", serif;
    color: #FFC42F;
    text-decoration: none;

}

.landing-nav-list {
    list-style: none;
    display: flex;
    gap: 1rem;

    padding: 0;
    margin: 0;
}


.landing-main-hero {
    display: grid;
    grid-template-areas: "hero";
    place-items: center;
    max-height: 60vh;
    position: relative;
}


.landing-main-hero::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background: #0C64BE;

    z-index: 3;
}


.landing-main-hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


.landing-main-hero h1 {
    color: #FFC42F;
    font-family: "Roboto", serif;
    font-size: 5rem;
    position: relative;
    z-index: 2;
}

.hero-buttons {
    position: relative;

    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.hero-buttons button {
    font-family: "Roboto", serif;

    background-color: #FFC42F;
    border-radius: 1rem;

    padding: 2rem;
    font-size: 2rem;
}


.hero-image {
    max-height: 60vh;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
    background-color: black;

}


.landing-main-hero > * {
  grid-area: hero;


}

.landing-main-hero h1{
    font-family: "Roboto", serif;
}

.main-content{

    background-color: #0C64BE;
    width: 100%;
    height: 100%;
}

.main-content p{
    font-family: "Montserrat", serif;
}

.article-plans {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.article-plans div {
    color: #0C64BE;
    font-family: "Roboto", serif;
    font-size: 3rem;
}

.article-plans p {
    max-width: 13rem;
    font-size: 1rem;

}

.services-text-article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Montserrat", serif;
    color: #0C64BE;
    font-size: 4rem;
    font-weight: 500;

}